@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to top, #B7A6F6, #88A3E2);
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(210, 136, 235, 0.514);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #C37EDB;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(220, 141, 247, 0.534);
}

h2{ 
    color: #88A3E2;

}

p{
    text-align: justify;
}